<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinepolismobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinepolisMobile" >
        <activity
            android:name=".AgregarAlimentoCarrito"
            android:exported="false" />
        <activity
            android:name=".Alimentos"
            android:exported="false" />
        <activity
            android:name=".AdmPeliculasEliminar"
            android:exported="false" />
        <activity
            android:name=".AdmPeliculasModificar"
            android:exported="false" />
        <activity
            android:name=".AdmPeliculasAgregar"
            android:exported="false" />
        <activity
            android:name=".AdmPeliculas"
            android:exported="false" />
        <activity
            android:name=".Dashboardadmin"
            android:exported="false" />
        <activity
            android:name=".AdmEditarCartelera"
            android:exported="false" />
        <activity
            android:name=".AdmCarteleraEliminar"
            android:exported="false" />
        <activity
            android:name=".AdmAgregarCartelera"
            android:exported="false" />
        <activity
            android:name=".AdmCarteleraGeneral"
            android:exported="false" />
        <activity
            android:name=".Seleccion"
            android:exported="false" />
        <activity
            android:name=".Boletos"
            android:exported="false" />
        <activity
            android:name=".Cartelera"
            android:exported="false" />
        <activity
            android:name=".CarritoCliente"
            android:exported="false" />
        <activity
            android:name=".VentanaEmergente"
            android:exported="false"
            android:theme="@style/Theme.VentanaEmergente" />
        <activity
            android:name=".Dashboardusuario"
            android:exported="false" />
        <activity
            android:name=".RegistrarCuenta"
            android:exported="false" />
        <activity
            android:name=".AdmAlimentos"
            android:exported="true" />
        <activity
            android:name=".AdmAlimentosAgregar"
            android:exported="true" />
        <activity
            android:name=".AdmAlimentosModificar"
            android:exported="true" />
        <activity
            android:name=".AdmAlimentosEliminar"
            android:exported="true" />
        <activity
            android:name=".AdmClientes"
            android:exported="true" />
        <activity
            android:name=".AdmClientesAgregar"
            android:exported="true" />
        <activity
            android:name=".AdmClientesModificar"
            android:exported="true" />
        <activity
            android:name=".AdmClientesEliminar"
            android:exported="true" />
        <activity
            android:name=".AgregarTarjeta"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>